// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="submit"]
{
  background: url("/assets/must_have_icon_set/Check/Check_32x32.png");
  height: 32px;
  width: 32px;
  border-style: hidden
}